.portfolio-list-wrap
	display: grid
	grid-template: auto \/ repeat(auto-fit, minmax(280px, 340px))
	grid-gap: 40px 22px
	justify-content: space-evenly
	padding: 40px 0 50px

.portfolio-item
	flex(column, nowrap)
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1)
	text-decoration: none
	color: $black
	&:hover
		.portfolio-image img
			transform: scale(1.05)
		.more-button
			background-color: $purple
			background-image: url('./../img/arrow-right-hover.svg');
			box-shadow: 4px 4px 20px rgba(82, 39, 98, 0.5)
			cursor: pointer

.portfolio-image
	overflow: hidden
	img
		transform: scale(1)
		transition: all 0.3s ease

.portfolio-info
	flex-grow: 2
	position: relative
	flex(column, nowrap)
	width: 100%
	min-height: 100px
	padding: 13px 11px 35px
	.more-button
		position: absolute
		bottom: -25px
		right: 17px

.portfolio-date
	position: absolute
	top: 13px
	right: 11px
	fonts(12px, 18px, 300)
	color: $l-gray

.portfolio-title
	flex-grow: 2
	display: inline-block
	padding-right: 75px
	margin-bottom: 8px
	fonts(14px, 21px, 600)

.portfolio-text
	fonts(12px, 18px, 300)
	color: $d-gray
