.catalog-page
	overflow: hidden
	padding-left: 20px
	padding-right: 20px
.catalog-wrap
	will-change: margin
	display: grid
	grid-template: auto \/ 234px 1fr
	grid-gap: 0 44px
	padding-bottom: 35px
	transition: all 0.2s linear
	.products-wrap
		grid-template: auto \/ repeat(auto-fit, 253px)
	.product-cart-add
		bottom: -7%
	.bottom-navigation
		padding-top: 80px
	&.hidden
		margin-left: -269px
		.products-wrap
			grid-template: auto \/ repeat(auto-fit, minmax(290px, 30%))

.sorting-wrap
	align-self: start
	flex(row, nowrap, flex-start, center)
	padding: 0 0 27px
.sort-item
	label
		fonts(14px, 14px)
.sort-number
	flex(row, nowrap, flex-start, center)
	fonts(14px, 21px)
	margin: 0 22px 0 auto
	a
		display: inline-block
		padding: 0 5px
		color: $dark
		&:hover, &.active
			text-decoration: none
.sort-button
	padding: 0
	margin: 0 0 0 15px
	border: none
	outline: none
	box-shadow: none
	background-color: transparent
	text-decoration: none
	.sort-hover
		transition: all 0.3s ease
	&:hover, &.active
		cursor: pointer
		.sort-hover
			fill: $purple

.catalog-filter
	grid-row: 1 \/ -1
	align-self: start
	display: flex
	flex-flow: column nowrap
.filter-item-title
	align-self: flex-start
	position: relative
	display: inline-block
	padding-right: 12px
	margin-bottom: 6px
	fonts(14px, 21px, 600)
	cursor: pointer
	&.hidden
		&::after
			transform: translateY(-50%) rotate(-90deg)
		& + .filter-item
			display: none
	&::after
		content: ''
		position: absolute
		top: 50%
		right: 0
		z-index: 1
		transform: translateY(-50%)
		display: block
		width: 6px
		height: 3px
		background: url('./../img/filter-arrow.svg') 50% 50%/6px 3px no-repeat
	&:nth-of-type(n+2)
		margin-top: 15px
	&:hover
		text-decoration: underline
.filter-checkbox-wrap
	margin-top: 10px

.filter-item
	&.column-block
		flex(column, nowrap)
		.site-checkbox-label
			display: block
	&.scrollable
		max-height: 175px
	.site-checkbox-label
		&.red-color::before
			background-color: #c30909
		&.yellow-color::before
			background-color: #f5e2af
		&.black-color::before
			background-color: #000000
		&.purple-color::before
			background-color: #c93953
		&.green-color::before
			background-color: #a2ca70
.color-filter
	.site-checkbox-label
		padding-right: 5px
		&:hover::after
			background-image: none
	.site-checkbox
		& + label::before, & + label::after
			border-radius: 2px
			transition: all 0.3s ease
		&:checked + label
			&::before
				border-radius: 50%
			&::after
				background-image: none


.filter-checkbox-wrap
	span
		fonts(14px, 21px, 600)
.filter-submit-wrap
	flex(column, nowrap, flex-start, center)
	padding: 30px 0
	.site-button
		margin-bottom: 20px
		fonts(14px, 21px)
	.site-link
		color: $gray
		fonts(14px, 21px)
		text-decoration: none
		&:hover
			text-decoration: underline

.products-wrap
	display: grid
	grid-template: auto \/ repeat(auto-fit, minmax(280px, 337px))
	grid-gap: 50px 26px
	grid-auto-flow: row dense
	justify-content: space-evenly
	padding-bottom: 30px
.product-grid-head
	display: none

.product-item
	position: relative
	flex(column, nowrap)
	width: 100%
	max-width: 337px
	padding: 0 0 50px
	&::after
		content: ''
		position: absolute
		top: 0
		left: 50%
		z-index: 0
		transform: translateX(-50%)
		display: block
		width: 112.5%
		height: 100%
		background: url('./../img/product-back.svg') 0% 100%/100% no-repeat
	&:hover
		&::after
			background-image: url('./../img/product-back-hover.svg')
		.product-image img
			transform: scale(1.05)

.product-wrapper
	flex-grow: 2
	position: relative
	z-index: 1
	flex(column, nowrap)
	width: 100%
	box-shadow: 0 -15px 15px -12px rgba(0, 0, 0, 0.1)

.product-image
	position: relative
	display: block
	overflow: hidden
	color: $black
	img
		transition: all 0.3s ease
.product-labels
	position: absolute
	top: 23px
	left: 0
	z-index: 3
	flex(column, nowrap)
	span
		display: block
		padding: 3px 13px
		color: $black
		fonts(18px, 27px)
		text-transform: lowercase
		&:nth-of-type(n+2)
			margin-top: 12px
	.new-label
		background-color: #ffd12e
	.sellout-label
		background-color: #a666d8
	.offer-label
		background-color: #8ac1ca

.product-info
	flex-grow: 2
	display: grid
	grid-template: 1fr auto 33px \/ repeat(2, 1fr)
	width: 100%
	padding: 0 21px
	margin-top: 15px
.product-name
	grid-column: span 2
	align-self: stretch
	display: inline-block
	width: 100%
	color: $black
	fonts(18px, 27px)
	text-decoration: none

.product-description
	grid-column: span 2
	width: 100%
	margin: 34px 0 11px
	fonts(14px, 21px, 400)
	color: $l-gray
.product-pack
	display: none
.product-price
	color: $gray
	span
		fonts(28px, 41px, 300)
.product-discount
	position: relative
	color: $gray
	fonts(11px, 15px)
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 0
		z-index: 1
		display: block
		width: 100%
		height: 2px
		background: $gray
	span
		color: $gray
		fonts(20px, 35px, 300)


.product-quantity
	position: relative
	justify-self: end
	width: 68px
	min-width: 68px
	height: 33px
	padding: 5px 7px 5px 10px
	border-radius: 17px
	border: 1px solid $l-gray
	outline: none
	box-shadow: none
	fonts(14px, 21px)
	input
		border: none
		max-width: 100%
		padding-right: 9px
		outline: none
		text-align: center
	.minus-counter, .plus-counter
		position: absolute
		right: 9px
		z-index: 3
		width: 10px
		height: 6px
		border: none
		padding: 0
		outline: none
		box-shadow: none
		font-size: 0
		cursor: pointer
	.plus-counter
		top: 9px
		background: url('./../img/counter-plus.svg') 50% 50%/5px 3px no-repeat
		&:hover
			background-image: url('./../img/counter-plus-hover.svg')
	.minus-counter
		bottom: 9px
		background: url('./../img/counter-minus.svg') 50% 50%/5px 3px no-repeat
		&:hover
			background-image: url('./../img/counter-minus-hover.svg')

.product-cart-add
	position: absolute
	bottom: -5%
	left: 50%
	z-index: 2
	transform: translateX(-50%)
	display: inline-block
	width: 51px
	height: 51px
	border: none
	border-radius: 50%
	outline: none
	box-shadow: none
	background-image: url('./../img/cart-button-hover.svg')
	background: url('./../img/cart-button.svg') 50% 50%/100% no-repeat
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
	&:hover
		background-image: url('./../img/cart-button-hover.svg')
		cursor: pointer
		box-shadow: 4px 4px 20px rgba(82, 39, 98, 0.5)

.product-banner
	grid-column: 1 \/ -1
	img
		max-width: 100%
		height: auto

@media (min-width: 961px)
	.products-wrap.lines
		grid-template: auto \/ 100%
		grid-gap: 2px
		transition: all 0.3s ease
		box-shadow: 4px 4px 30px rgba(0, 0, 0, 0);
		&:hover
			img
				transform: none
		& + .bottom-navigation
			padding-top: 0
		.product-item
			flex(row, nowrap, flex-start, center)
			max-width: 100%
			padding: 9px
			&::after
				display: none
			&:hover
				box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2)
		.product-wrapper
			flex(row, nowrap, flex-start, center)
			box-shadow: none
		.product-image
			flex(row, nowrap, center, center)
			width: 60px
			height: 60px
			img
				max-height: 100%
				width: auto
		.product-labels
			display: none
		.product-grid-head
			grid-column: 1 \/ -1
			display: grid
			grid-template: auto/66px 26% 24% 13% 11.5% 10%
			grid-gap: 1%
			justify-items: center
			padding: 0 29px 0 9px
			fonts(18px, 27px)
			.product-head-start
				justify-self: start
		.product-item
			flex(row, nowrap, flex-start, center)
			max-width: 100%
			padding: 9px
			&::after
				display: none
			&:hover
				box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2)
		.product-wrapper
			flex-grow: 2
			box-shadow: none
		.product-image
			width: 60px
			height: 60px
			img
				max-height: 100%
				width: auto
		.product-name
			grid-column: span 1
			margin: 0
			padding: 0
		.product-description
			grid-column: span 1
			margin: 0
			padding: 0
		.product-pack
			display: block
			fonts(18px, 27px, 300)
			text-align: center
		.product-info
			display: grid
			grid-template: 1fr \/ 29% 27% 15% 13% 12%
			grid-gap: 1%
			align-items: center
			justify-items: center
			margin-top: 0
		.product-price
			grid-column: 5 \/ 6
			height: auto
			margin: 0
			font-size: 0
			span
				color: $dark
				fonts(18px, 27px, 300)
		.product-quantity
			grid-column: 4 \/ 5
			grid-row: 1
			justify-self: center
			margin-right: 0
		.product-cart-add
			align-self: center
			position: static
			display: block
			width: 40px
			height: 46px
			margin-right: -20px
			border-radius: 0
			padding-left: 5px
			background: url('./../img/cart-pink.svg') 50% 50%/100% no-repeat
			box-shadow: none
			&:hover
				background-image: url('./../img/cart-pink-hover.svg')

@media (max-width: 1100px)
	.products-wrap.lines .product-grid-head
		grid-template: auto \/ 66px 25.5% 22% 13% 12.5% 10% 20px

@media (max-width: 960px)
	.sorting-wrap .sort-button
		display: none

@media (max-width: 768px)
	.catalog-wrap
		grid-template: auto \/ auto
		&.hidden
			margin-left: 0
			.products-wrap
				grid-template: auto \/ repeat(auto-fit, minmax(280px, 310px))
		.products-wrap
			grid-template: auto \/ repeat(auto-fit, minmax(280px, 310px))
	.product-banner
		justify-self: stretch

	.catalog-filter
		justify-self: center
		max-width: 234px
		&:not(.show) > *:not(.filter-toggle)
			display: none

	.filter-toggle
		align-self: center
		position: relative
		display: inline-block
		padding-right: 24px
		cursor: pointer
		&::after
			content: ''
			position: absolute
			top: 50%
			right: 0
			display:block
			width: 14px
			height: 7px
			background: url('./../img/pink-arrow.svg') 50% 50%/14px 7px no-repeat

@media (max-width: 550px)
	.sorting-wrap
		flex(column, nowrap, center, center)
	.sort-number
		margin: 20px 0 0


// @media (max-width: 400px)
// 	.products-wrap
// 		grid-template: auto \/ 100%
