@font-face
	font-family: 'Segoe UI'
	font-style: normal
	font-weight: 400
	src: url('./../fonts/segoeui-regular.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: italic
	font-weight: 400
	src: url('./../fonts/segoeui-italic.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: normal
	font-weight: 300
	src: url('./../fonts/segoeui-semilight.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: italic
	font-weight: 300
	src: url('./../fonts/segoeui-semilight-italic.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: normal
	font-weight: 200
	src: url('./../fonts/segoeui-light.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: italic
	font-weight: 200
	src: url('./../fonts/segoeui-light-italic.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: normal
	font-weight: 600
	src: url('./../fonts/segoeui-semibold.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: italic
	font-weight: 600
	src: url('./../fonts/segoeui-semibold-italic.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: normal
	font-weight: 700
	src: url('./../fonts/segoeui-bold.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: italic
	font-weight: 700
	src: url('./../fonts/segoeui-bold-italic.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: normal
	font-weight: 900
	src: url('./../fonts/segoeui-black.ttf')

@font-face
	font-family: 'Segoe UI'
	font-style: italic
	font-weight: 900
	src: url('./../fonts/segoeui-black-italic.ttf')
