.interior-item-page
	.navigation-wrap
		width: 100%
		text-align: center
.top-navigation
	flex(row, nowrap, space-between, center)
	padding-bottom: 12px
	.arrow-link
		margin-left: auto

.news-item-page
	.navigation-wrap
		margin-top: 48px
