@import './variables.styl'
@import './fonts.styl'

@import './global.styl'
@import './header.styl'
@import './footer.styl'

@import './main.styl'
@import './news-list.styl'
@import './news-item.styl'
@import './shops.styl'
@import './shop-detail.styl'
@import './contacts.styl'
@import './interior-list.styl'
@import './interior-item.styl'
/* Categories */
@import './categories.styl'
/******/
@import './catalog.styl'
@import './product-page.styl'
