@import './variables.styl'
@import './fonts.styl'

@import './global.styl'
@import './header.styl'
@import './footer.styl'

@import './main.styl'
@import './catalog.styl'
@import './product-page.styl'
@import './solution-list.styl'
@import './solution-page.styl'
@import './categories.styl'
@import './subcategories.styl'
@import './portfolio-list.styl'
@import './brand-page.styl'
@import './news-list.styl'
@import './news-item.styl'
@import './album.styl'
@import './contacts.styl'
@import './static-page.styl'
